{% extends 'base.html' %}
{% block head %}
<meta property="og:url" content="http://www.powi.club/404.html">
<meta property="og:title" content="Powi Club - 404 Not Found">
<meta property="og:description" content="Error 404 : Oops ! Powi Not Found.">
<link rel="stylesheet" href="{{url_for('static', filename='css/404.css')}}">
<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&display=swap" rel="stylesheet">
{% endblock %}
{% block title %}Powi Club - 404 Not Found{% endblock %}
{% block content %}
<main>
    <p class="error">4<img src="{{url_for('static', filename='images/Powinotfound.png')}}" height="300px">4</p>
    <p align="center">Oops ! Powi Not Found.</p>
</main>
{% endblock %}